{
    "openapi": "3.1.0",
    "info": {
        "title": "DeviantArt API",
        "version": "1.20240701",
        "description": "OpenAPI specification generated from public /api endpoints."
    },
    "servers": [
        {
            "url": "https://www.deviantart.com/api/v1/oauth2"
        }
    ],
    "externalDocs": {
        "description": "DeviantArt developer portal",
        "url": "https://www.deviantart.com/developers/"
    },
    "paths": {
        "/browse/dailydeviations": {
            "get": {
                "operationId": "browse_dailydeviations",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The day to browse, defaults to today"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated expandable objects. Allowed: user.watch",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "error_code": {
                                            "type": "integer"
                                        },
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Daily Deviations",
                "description": "Browse daily deviations",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/deviantsyouwatch": {
            "get": {
                "operationId": "browse_deviantsyouwatch",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "default": 10
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "error_code": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "next_offset"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Deviations of deviants you watch",
                "description": "Get deviations of deviants you watch",
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/home": {
            "get": {
                "operationId": "browse_home",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "default": 24
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        },
                        "description": "Search query term"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": [
                                                "boolean",
                                                "null"
                                            ]
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Browse homepage",
                "description": "Browse homepage",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/morelikethis/preview": {
            "get": {
                "operationId": "browse_morelikethis_preview",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The deviationid to fetch more like"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated expandable objects. Allowed: user.watch, deviation.fulltext, status.fulltext",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "seed": {
                                            "type": "string"
                                        },
                                        "author": {
                                            "$ref": "#/components/schemas/user"
                                        },
                                        "more_from_artist": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "more_from_da": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "featured_in_collections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                    "collection": {
                                                        "$ref": "#/components/schemas/gallection"
                                                    },
                                                    "deviations": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/deviation"
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "collection",
                                                    "deviations"
                                                ]
                                            }
                                        },
                                        "suggested_collections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                    "collection": {
                                                        "$ref": "#/components/schemas/gallection"
                                                    },
                                                    "deviations": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/deviation"
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "collection",
                                                    "deviations"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "seed",
                                        "author",
                                        "more_from_artist",
                                        "more_from_da"
                                    ]
                                }
                            }
                        }
                    },
                    "4xx": {
                        "description": "Possible error codes:\n- 0: Invalid Seed Requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "summary": "More Like This Preview",
                "description": "Fetch More Like This preview result for a seed deviation",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/tags": {
            "get": {
                "operationId": "browse_tags",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "tag",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The tag to browse"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The pagination cursor (instead of offset)"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": "0"
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "default": "10"
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated expandable objects. Allowed: user.watch",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "next_cursor": {
                                            "type": "string"
                                        },
                                        "prev_cursor": {
                                            "type": "string"
                                        },
                                        "estimated_total": {
                                            "type": "integer"
                                        },
                                        "error_code": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Tags",
                "description": "Browse a tag",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/tags/search": {
            "get": {
                "operationId": "browse_tags_search",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "tag_name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Partial tag name to get autocomplete suggestions for"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                    "tag_name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "tag_name"
                                                ]
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Tags Search",
                "description": "Autocomplete tags",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/topic": {
            "get": {
                "operationId": "browse_topic",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The pagination cursor (instead of offset)"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": "0"
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 24,
                            "minimum": 1,
                            "default": "10"
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "topic",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Topic name"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated expandable objects. Allowed: user.details, user.profile, user.stats, user.watch",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "next_cursor": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "prev_cursor": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "server_results_changed": {
                                            "type": "boolean"
                                        },
                                        "error_code": {
                                            "type": "integer"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "next_cursor",
                                        "prev_cursor",
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Topic",
                "description": "Fetch topic deviations",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/topics": {
            "get": {
                "operationId": "browse_topics",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The pagination cursor (instead of offset)"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": "0"
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 10,
                            "minimum": 1,
                            "default": "10"
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "num_deviations_per_topic",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Fetch configured number of deviations from each topic. This parameter is deprecated, it has no effect on the results and it will be removed in future versions."
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "next_cursor": {
                                            "type": "string"
                                        },
                                        "prev_cursor": {
                                            "type": "string"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "canonical_name": {
                                                        "type": "string"
                                                    },
                                                    "example_deviations": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/deviation"
                                                        }
                                                    },
                                                    "deviations": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/deviation"
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "canonical_name"
                                                ]
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Topics",
                "description": "Fetch topics and deviations from each topic",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/browse/toptopics": {
            "get": {
                "operationId": "browse_toptopics",
                "tags": [
                    "browse"
                ],
                "parameters": [
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "canonical_name": {
                                                        "type": "string"
                                                    },
                                                    "example_deviations": {
                                                        "$ref": "#/components/schemas/deviation"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "canonical_name"
                                                ]
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Top Topics",
                "description": "Fetch top topics with example deviation for each one",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/collections/all": {
            "get": {
                "operationId": "collections_all",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user whose collections to fetch, defaults to current user"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": "0"
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 24,
                            "minimum": 1,
                            "default": "10"
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "results"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "All deviations in user's collection",
                "description": "All deviations in user's collection",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/collections/fave": {
            "post": {
                "operationId": "collections_fave",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "favourites": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "favourites"
                                    ]
                                }
                            }
                        }
                    },
                    "4xx": {
                        "description": "Possible error codes:\n- 2: Folder not found\n- 3: Folder limit was exceeded\n- 0: Deviation was not found.\n- 1: Deviation is already in favourites.\n- 4: You have added too many favourites in a short period of time.\n- 5: The deviant has blocked you\n- 6: Cant fave your own deviation.\n- 7: Deviation can not be favourited.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "summary": "Fave",
                "description": "Add deviation to favourites",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "deviationid": {
                                        "type": "string",
                                        "description": "Id of the Deviation to favourite"
                                    },
                                    "folderid": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Optional :UUID: of the Collection folder to add the favourite into"
                                    }
                                },
                                "required": [
                                    "deviationid"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders": {
            "get": {
                "operationId": "collections_folders",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user to list folders for, if omitted the authenticated user is used"
                    },
                    {
                        "name": "calculate_size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "The option to include the content count per each collection folder"
                    },
                    {
                        "name": "ext_preload",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Include first 5 deviations from the folder"
                    },
                    {
                        "name": "filter_empty_folder",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Filters collections with no deviations if true"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "default": 10
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api_collection"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        },
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "results",
                                        "has_more",
                                        "next_offset"
                                    ]
                                }
                            }
                        }
                    },
                    "4xx": {
                        "description": "Possible error codes:\n- 0: Account has been suspended.\n- 1: Account is inactive.\n- 2: User not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "summary": "Collection Folders",
                "description": "Fetch collection folders",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/copy_deviations": {
            "post": {
                "operationId": "collections_folders_copy_deviations",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Copy Deviations to folder",
                "description": "Copy a list of deviations to a folder destination",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "target_folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the folder to copy to"
                                    },
                                    "deviationids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "The :UUIDs: of the deviations"
                                    }
                                },
                                "required": [
                                    "target_folderid",
                                    "deviationids"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/create": {
            "post": {
                "operationId": "collections_folders_create",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "folderid": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "folderid",
                                        "name"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Collection Folders Create",
                "description": "Create new collection folder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "folder": {
                                        "type": "string",
                                        "description": "The name of the folder to create"
                                    }
                                },
                                "required": [
                                    "folder"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/move_deviations": {
            "post": {
                "operationId": "collections_folders_move_deviations",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Move Deviations to folder",
                "description": "Copy a list of deviations to a folder destination",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "source_folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the folder to copy to"
                                    },
                                    "target_folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the folder to copy to"
                                    },
                                    "deviationids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "The :UUIDs: of the deviations"
                                    }
                                },
                                "required": [
                                    "source_folderid",
                                    "target_folderid",
                                    "deviationids"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/remove/{folderid}": {
            "get": {
                "operationId": "collections_folders_remove",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "name": "folderid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Collection Folders Remove",
                "description": "Delete collection folder",
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/remove_deviations": {
            "post": {
                "operationId": "collections_folders_remove_deviations",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Remove deviations from folder",
                "description": "Remove a list of deviations from a gallery folder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the folder to remove"
                                    },
                                    "deviationids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "The :UUIDs: of the deviations"
                                    }
                                },
                                "required": [
                                    "folderid",
                                    "deviationids"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/update": {
            "post": {
                "operationId": "collections_folders_update",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Update details",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the folder to rename"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Folder new name"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Folder description"
                                    },
                                    "cover_deviationid": {
                                        "type": "string",
                                        "description": "Folder thumb"
                                    }
                                },
                                "required": [
                                    "folderid"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/update_deviation_order": {
            "post": {
                "operationId": "collections_folders_update_deviation_order",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": []
                                }
                            }
                        }
                    }
                },
                "summary": "Update deviation order",
                "description": "Update order of deviation in folder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the gallery folder"
                                    },
                                    "deviationid": {
                                        "type": "string",
                                        "description": "The :UUID: of the deviation"
                                    },
                                    "position": {
                                        "type": "integer",
                                        "description": "The new position"
                                    }
                                },
                                "required": [
                                    "folderid",
                                    "deviationid",
                                    "position"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/folders/update_order": {
            "post": {
                "operationId": "collections_folders_update_order",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Reposition a folder",
                "description": "Rearrange the position of folders",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "folderid": {
                                        "type": "string",
                                        "description": "The :UUID: of the folder to reposition"
                                    },
                                    "position": {
                                        "type": "integer",
                                        "description": "The new position"
                                    }
                                },
                                "required": [
                                    "folderid",
                                    "position"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/unfave": {
            "post": {
                "operationId": "collections_unfave",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "favourites": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "favourites"
                                    ]
                                }
                            }
                        }
                    },
                    "4xx": {
                        "description": "Possible error codes:\n- 0: Deviation not found\n- 1: Not in favourites\n- 2: Folder not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "summary": "Unfave",
                "description": "Remove deviation from favourites",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "deviationid": {
                                        "type": "string",
                                        "description": "Id of the Deviation to unfavourite"
                                    },
                                    "folderid": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Optional :UUID: remove from a single collection folder"
                                    }
                                },
                                "required": [
                                    "deviationid"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2AuthorizationCode": [
                            "browse",
                            "collection"
                        ]
                    }
                ]
            }
        },
        "/collections/{folderid}": {
            "get": {
                "operationId": "collections",
                "tags": [
                    "collections"
                ],
                "parameters": [
                    {
                        "name": "folderid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The user who owns the folder, defaults to current user"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 0,
                            "default": "0"
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 24,
                            "minimum": 1,
                            "default": "10"
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "name": "with_session",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "session data is not always needed for this endpoint"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated expandable objects. Allowed: user.watch",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/deviation"
                                            }
                                        },
                                        "session": {
                                            "$ref": "#/components/schemas/api_session"
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "results"
                                    ]
                                }
                            }
                        }
                    },
                    "4xx": {
                        "description": "Possible error codes:\n- 0: Account has been suspended.\n- 1: Account is inactive.\n- 2: User not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "summary": "Collections",
                "description": "Fetch collection folder contents",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/comments/deviation/{deviationid}": {
            "get": {
                "operationId": "comments_deviation",
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "deviationid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "commentid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The :commentid: you want to fetch"
                    },
                    {
                        "name": "maxdepth",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 5,
                            "minimum": 0,
                            "default": 0
                        },
                        "description": "Depth to query replies until"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 10000,
                            "minimum": -10000,
                            "default": 0
                        },
                        "description": "The pagination offset"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "default": 10
                        },
                        "description": "The pagination limit"
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated expandable objects. Allowed: comment.fulltext",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "next_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "has_less": {
                                            "type": "boolean"
                                        },
                                        "prev_offset": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "thread": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "required": [
                                        "has_more",
                                        "next_offset",
                                        "has_less",
                                        "prev_offset",
                                        "thread"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Comments Deviation",
                "description": "Fetch comments posted on deviation",
                "security": [
                    {
                        "oauth2AuthorizationCodeOrClientCredentials": [
                            "browse"
                        ]
                    }
                ]
            }
        },
        "/comments/post/deviation/{deviationid}": {
            "post": {
                "operationId": "comments_post_deviation",
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "deviationid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/daMinorVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "commentid": {
                                            "type": "string"
                                        },
                                        "parentid": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "posted": {
                                            "type": "string"
                                        },
                                        "replies": {
                                            "type": "integer"
                                        },
                                        "hidden": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "body": {
                                            "type": "string"
                                        },
                                        "is_liked": {
                                            "type": "boolean"
                                        },
                                        "is_featured": {
                                            "type": "boolean"
                                        },
                                        "likes": {
                                            "type": "integer"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/user"
                                        },
                                        "text_content": {
                                            "$ref": "#/components/schemas/editor_text"
                                        }
                                    },
                                    "required": [
                                        "commentid",
                                        "parentid",
                                        "posted",
                                        "replies",
                                        "hidden",
                                        "body",
                                        "is_liked",
                                        "is_featured",
                                        "likes",
                                        "user"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Comments Post Deviation",
                "description": "Post comment on a deviation",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "commentid": {
                                        "type": "string",
                                        "description": "The :commentid: you are replying to"
[...]
